src/main/resources/banelco.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.bp.banelco.com/"
           targetNamespace="http://webservices.bp.banelco.com/" elementFormDefault="qualified">

    <xs:element name="getEchoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEchoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>